@import '../base/variables';

* {
  font-family: 'Museo Sans Cyrl', sans-serif;
}
.container {
  width: 950px;
  margin: 0 auto;
}

@import '_promo.scss';
@import '_header.scss';
@import '_buttons.scss';
@import '_advantages.scss';
@import '_consultation.scss';
@import '_media.scss';
